root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# ** - Any path
[**.{js,groovy}]
indent_style = tab
indent_size = 2

[**.js]
insert_final_newline = true
